.title {
    --swiper-navigation-size: 44px;
    --swiper-navigation-color: #b4141e;
    --swiper-pagination-color: #b4141e;
    --swiper-theme-color: #b4141e;
    line-height: normal;
    font-style: normal;
    box-sizing: inherit;
    margin: 0;
    font-family: LongJohnson, sans-serif;
    text-transform: uppercase;
    color: #b4141e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 3.6458333333vw;
    margin-bottom: 3.6458333333vw;
    gap: 1.5625vw;
    transform: none;
  }
  