/* MiningService.css */

.for-card-t{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.we-do__box {
    background-color: black;
    width: 350px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 10px 0px 10px 0px;
  }
.we-do__box:hover{
    background-color: var(--bg-secondary);
}
  
  .we-do__number{
    margin-left: 10px;
    border: 2px solid white;
    width: 35px;
    height: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

    
  .we-do__subtitle {
    margin-left: 10px;
    text-align: left;
    font-size: 2rem;
    /* Add styles for the subtitle if needed */
  }
  
  .we-do__text {
    margin-left: 10px;
    text-align: left;
  }
  
  .we-do__link {
    align-items: center;
    padding: 10px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between; 
    color: white;
    text-decoration: none;/* Align items with space between them */
    /* Add other styles for the link if needed */
  }
  
  .for-arrow{
    height: 20px;
    color: rgb(70, 67, 67);
  }